.row {
  position: relative;
}

/* Estilo para el logo */
.logo-superior-receta {
  width: 140px !important;
}

/* Contenedor para la firma */
.firma-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Línea de la firma */
.firma-linea {
  width: 50%;
  height: 2px;
  background-color: #000;
  margin-bottom: 5px;
}

/* Texto de la firma */
.firma-texto {
  font-size: 16px;
  font-weight: bold;
}
