.row {
  position: relative;
}

/* Estilo para el logo */
.logo-superior-receta {
  position: absolute;
  width: 150px !important;
  top: 50px;
}

/* Contenedor para la firma */
.firma-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Línea de la firma */
.firma-linea {
  width: 80%; /* Puedes ajustar el ancho de la línea */
  height: 1px;
  background-color: #000; /* Color de la línea */
  margin-bottom: 5px; /* Espacio entre la línea y el texto */
}

/* Texto de la firma */
.firma-texto {
  font-size: 16px;
  font-weight: bold;
}
